<?xml version="1.0" encoding="utf-8"?>
<SolutionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectNameToExcludedCppFileNameMap>
    <Item>
      <Key>
        <string>Conductor</string>
      </Key>
      <Value>
        <ArrayOfString>
          <string>src\network\Socket.cpp</string>
        </ArrayOfString>
      </Value>
    </Item>
  </ProjectNameToExcludedCppFileNameMap>
</SolutionSettings>