<?xml version="1.0" encoding="utf-8"?>
<SolutionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectNameToExcludedCppFileNameMap>
    <Item>
      <Key>
        <string>glslang</string>
      </Key>
      <Value>
        <ArrayOfString>
          <string>glslang\hlsl\hlslScanContext.cpp</string>
          <string>glslang\glslang\MachineIndependent\ParseHelper.cpp</string>
          <string>glslang\glslang\GenericCodeGen\Link.cpp</string>
          <string>glslang\glslang\MachineIndependent\Constant.cpp</string>
          <string>glslang\SPIRV\InReadableOrder.cpp</string>
          <string>glslang\glslang\MachineIndependent\propagateNoContraction.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpContext.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpMemory.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\Pp.cpp</string>
          <string>glslang\SPIRV\doc.cpp</string>
          <string>glslang\glslang\MachineIndependent\InfoSink.cpp</string>
          <string>glslang\glslang\MachineIndependent\ParseContextBase.cpp</string>
          <string>glslang\glslang\GenericCodeGen\CodeGen.cpp</string>
          <string>glslang\glslang\MachineIndependent\intermOut.cpp</string>
          <string>glslang\glslang\MachineIndependent\Versions.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpAtom.cpp</string>
          <string>glslang\glslang\MachineIndependent\Intermediate.cpp</string>
          <string>glslang\glslang\MachineIndependent\reflection.cpp</string>
          <string>glslang\SPIRV\GlslangToSpv.cpp</string>
          <string>glslang\glslang\MachineIndependent\SymbolTable.cpp</string>
          <string>glslang\StandAlone\ResourceLimits.cpp</string>
          <string>glslang\glslang\MachineIndependent\linkValidate.cpp</string>
          <string>glslang\hlsl\hlslParseHelper.cpp</string>
          <string>glslang\hlsl\hlslTokenStream.cpp</string>
          <string>glslang\glslang\OSDependent\Windows\ossource.cpp</string>
          <string>glslang\glslang\MachineIndependent\limits.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpScanner.cpp</string>
          <string>glslang\OGLCompilersDLL\InitializeDll.cpp</string>
          <string>glslang\glslang\MachineIndependent\Scan.cpp</string>
          <string>glslang\glslang\MachineIndependent\PoolAlloc.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpSymbols.cpp</string>
          <string>glslang\hlsl\hlslParseables.cpp</string>
          <string>glslang\hlsl\hlslOpMap.cpp</string>
          <string>glslang\glslang\MachineIndependent\preprocessor\PpTokens.cpp</string>
          <string>glslang\SPIRV\Logger.cpp</string>
          <string>glslang\glslang\MachineIndependent\IntermTraverse.cpp</string>
          <string>glslang\glslang\MachineIndependent\Initialize.cpp</string>
          <string>glslang\glslang\MachineIndependent\parseConst.cpp</string>
          <string>glslang\glslang\MachineIndependent\RemoveTree.cpp</string>
          <string>glslang\glslang\MachineIndependent\ShaderLang.cpp</string>
          <string>glslang\SPIRV\SpvBuilder.cpp</string>
          <string>glslang\glslang\OSDependent\Windows\main.cpp</string>
          <string>glslang\SPIRV\disassemble.cpp</string>
          <string>glslang\glslang\MachineIndependent\glslang_tab.cpp</string>
          <string>glslang\hlsl\hlslGrammar.cpp</string>
          <string>glslang\StandAlone\spirv-remap.cpp</string>
          <string>glslang\SPIRV\SPVRemapper.cpp</string>
        </ArrayOfString>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Conductor</string>
      </Key>
      <Value>
        <ArrayOfString>
          <string>src\network\Socket.cpp</string>
        </ArrayOfString>
      </Value>
    </Item>
  </ProjectNameToExcludedCppFileNameMap>
</SolutionSettings>